body {
    background-color: #ffffff;
    font-family: "Ubuntu", sans-serif;
  }

  .sign {
    padding-top: 40px;
    color: #8c55aa;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 23px;
  }
  
  .mainPageButtonsBody{
    background-color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    /* position: center; */
    margin-left: 500px;
  }

  .new_book_request_form_box {
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }


.mainPageButtons {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    margin-left: 5005064px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
  }

  .submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .divider{
    width:5px;
    height:auto;
    display:inline-block;
  }
  .link {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
    padding-top: 15px;
    padding-left: 0px;
    padding-inline-start: 0%;
    padding-right: 28px;
}

  @media (max-width: 600px) {
    .main {
      border-radius: 0px;
    }
  }