body {
    background-color: #ffffff;
    font-family: "Ubuntu", sans-serif;
}

.main {
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.login {
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.login1 {
    background-color: #ffffff;
    width: 500px;
    height: 700px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.changePassword {
    background-color: #ffffff;
    width: 400px;
    height: 350px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8c55aa;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.table-header {
    padding-top: 0px;
    color: #8c55aa;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
}

form.form1 {
    padding-top: 40px;
    text-align: center;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    align-content: center;
    margin-right: auto;
}

.submit1 {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    inline-size: 30%;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    width: 50%;
}

.passwordButton {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.content-table{
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table thead tr {
    font-size: 1.5em;
    background-color: purple;
    color: white;
    text-align: left;
    font-weight: bold;
}

.link {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
    text-decoration: none;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}